<div class="row">
    <div class="col-4">
    <div class="image-cont"><img src="<%= user.photo %>" alt="profile" class="image-fluid profile-image"></div>
    </div>
    <div class="col-8 px-5">
     <h3 class="mt-4"><%= user.name %></h3>
     <h5 class="text-end mb-0">number of posts: <%= user.post_count %></h5>
    </div>
</div>