
 <div class="row">
      <div class="col-3">
        <img class="profile-image" src="<%= user.photo || 'http://s3.amazonaws.com/37assets/svn/765-default-avatar.png' %>" alt="profile picture">
      </div>
      <div class="col-9 border border-dark shadow ">
      <h2><%= user.id %> <%= user.name %> </h2>
      <div class='text-end'>
       <b class="p">Number of posts: <%= user.posts.length %> </b>
      </div>
      </div>
  </div>