<section>
<% if flash[:error] %>
<div><%= flash[:error] %></div>
<% end %>
  <%= render partial: 'user/user', locals: {user: @user} %>
  <div class="posts">
    <%= render @posts %>
  </div>
  <button>Pagination</button>
</section>